<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="nav">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li style="float:right"><a class="active" href="#about">About</a></li>
        </ul>
    </div>
    <div class="header">
        <h3>Hello<p style="color: brown;">
                <%= name %>
            </p> come with Nodejs
        </h3>
        <div class="form">
            <form action="#">
                <fieldset>
                    <legend>Personalia:</legend>
                    <label for="fname">Email:</label>
                    <input type="text" id="fname" name="email"><br><br>
                    <label for="lname">Name:</label>
                    <input type="text" id="lname" name="name"><br><br>
                    <label for="email">City:</label>
                    <input type="email" id="email" name="city"><br><br>
                    <label for="birthday">Birthday:</label>
                    <input type="date" id="birthday" name="birthday"><br><br>
                    <button type="submit">Save</button>
                </fieldset>
            </form>
        </div>
        <img src="/imgs/girl.jpg" class="width_100">
    </div>

</body>

</html>