<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="nav">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li style="float:right"><a class="active" href="#about">About</a></li>
        </ul>
    </div>
    <div class="header">
        <h3>Hello<p style="color: brown;">
                <%= name %>
            </p> come with Nodejs
        </h3>
        <div class="form">
            <form action="views/create_user" method="POST">
                <fieldset>
                    <legend>User:</legend>
                    <label for="email">Email:</label>
                    <input type="email" id="email" placeholder="Email enter" name="email"><br><br>
                    <label for="name">Name:</label>
                    <input type="text" id="name" placeholder="Name enter" name="name"><br><br>
                    <label for="city">City:</label>
                    <input type="text" id="city" placeholder="City enter" name="city"><br><br>
                    <button type="submit">Save</button>
                </fieldset>
            </form>
        </div>
        <img src="/imgs/girl.jpg" class="width_100">
    </div>

</body>

</html>